.ibox-content.active {
    cursor: not-allowed;
}

.specialty-item.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background: none;
}

.loading{
    display: none;
    position: absolute;
    top: 25%;
    right: 50%;
    z-index: 100;
}

.active > .loading{
    display: block;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 99;
    pointer-events: all;
    cursor: not-allowed;
}

.active .overlay {
    display: block;
}

.error{
    font-size: 12px;
    font-weight: 500;
    color: red;
    margin-top: 10px;
    margin-bottom: 0;
}

.claim{
    font-size: 12px;
    font-weight: 500;
    color: red;
    margin-left: 5px;
}

.edit, .delete{
    font-size: 14px;
    color: #000;
    margin-right: 10px;
}

.edit:hover{
    color: green;
}

.delete:hover{
    color: red;
}

.ck-editor__editable_inline {
    min-height: 300px;
    padding: 12px 25px !important;
    box-sizing: border-box;
}

td > img.thumb{
    width: 100px;
    height: 100px;
}

.ck-body-wrapper{
    display: none;
}

.img-thumbnail img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

textarea {
    resize: none;
}
  