.doctor-single-info .avatar{
    position: relative;
    width: 100%;
    border: 1px solid #e6e6e6;
    background-color: #f5f5f5;
    border-radius: 5px;
    background-image: url(../images/under.png);
    background-position: top left;
    background-repeat: no-repeat;
}

.avatar::before{
    content: "";
    clip-path: polygon(0 0, 0% 85%, 100% 0);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0c9eff;
    border-radius: 4px;
    z-index: 1;
}

.avatar img{
    position: relative;
    max-width: 100%;
    width: inherit;
    object-fit: cover;
    z-index: 2;
}

/* .doctor-single-detail{

} */

.detail-top{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
}

.doctor-name{
    font-size: 32px;
    font-weight: 600;
}

.doctor-review{
    display: flex;
    align-items: center;
}

.doctor-review span{
    font-weight: 500;
    font-size: 14px;
    margin-right: 10px;
}

.doctor-review i{
    margin-right: 5px;
}

/* -----Đặt lịch khám----- */
.make-appointment{
    padding: 48px 100px;
    margin-top: 32px;
    border: 1px solid #333;
    border-radius: 5px;
}

.book-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.book-note{
    font-size: 16px;
    color: #534E56;
    font-weight: 500;
}

.bookings{
    margin-top: 32px;
}

.bookings .row [class*="col-xs"]{
    padding-right: 12px;
    padding-left: 12px;
}

.bookings .form-group {
    margin-bottom: 24px;
}

.bookings .form-group label {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    display: block;
}

.bookings .form-group label sup {
    color: #F3262D;
}

.bookings .form-control {
    background-color: #F5F5F5;
    border-color: #F5F5F5;
    font-weight: 500;
    outline: none;
    border: none;
}

.bookings .form-control:focus{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bookings .select-btn{
    height: auto;
    padding: .48rem .75rem;
}

.bookings .options-content{
    width: 100%;
}

.filter-province{
    position: relative;
}

.filter-province.active .select-btn i{
    transform: rotate(-180deg);
}

.filter-province.active .options-content{
    display: block;
}

/* Danh sách thời gian */
.list-times{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.list-times .label-time-meet{
    flex-basis: calc(20% - 10px);
    margin-bottom: 10px;
    box-sizing: border-box;
}

.label-time-meet{
    display: block;
    border: 1px solid #534E56;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    width: auto;
    margin: 0;
    padding: 9px 3px;
    position: relative;
}

.label-time-meet input.time-meet{
    border: 0;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    height: 10px;
    width: 10px;
    position: absolute;
}

.label-time-meet span{
    color: #534E56;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.label-time-meet.disabled-label {
    background-color: #eee;
    color: #999;
    cursor: not-allowed;
}

.label-time-meet input.time-meet:checked + span {
    color:#1D93E3;
}

.label-time-meet:has(input.time-meet:checked){
    border: 1px solid #1D93E3;
}

.btn-book{
    padding: 8px 45px;
}

.error-message{
    color: red;
    font-weight: 600;
    font-style: italic;
}

.loading{
    color: #0b74fb;
    font-weight: 500;
}
/* End danh sách thời gian */

/* -----Thông tin bác sĩ----- */
.doctor-single-content{
    margin-top: 20px;
}

.doctor-single-content .card-left,
.doctor-single-content .card-right{
    padding: 20px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    margin-bottom: 24px;
}

.doctor-single-content .card-right{
    background-color: #f2f2f2;
}

.doctor-single-content .top-title{
    font-size: 24px;
    font-weight: 700;
    width: fit-content;
    margin-bottom: 20px;
    border-bottom: 1px solid #505050;
}

.doctor-single-content .main-content{
    font-size: 16px;
}

/* Hiển thị thông tin danh sách bác sĩ */
.group-doctor{
    position: relative;
}

.show-name-doctor{
    min-height: 36px;
}

.show-name-doctor.disabled{
    cursor: not-allowed;
    background-color: #cecdcd !important;
}

.show-list-doctor{
    width: 100%;
    padding: 10px;
    max-height: 400px;
    border-radius: 8px;
    position: absolute;
    top: 42px;
    background-color: #dee2e6;
    display: none;
}

.show-list-doctor .item-doctor{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.show-list-doctor .item-doctor.selected{
    background: #ffeb23;
}

.show-list-doctor .item-doctor:hover{
    background: #d0cfca;
}

.show-list-doctor .item-doctor .avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.show-list-doctor .item-doctor .name{
    font-weight: 600;
    padding-left: 15px;
}

@media(max-width: 1024px){
    .make-appointment{
        padding: 30px 50px;
    }
    
    .list-times .label-time-meet{
        flex-basis: calc(25% - 10px);
    }
}

@media(max-width: 768px){
    .make-appointment{
        padding: 18px 24px;
    }

    .btn-book{
        width: 100%;
        margin-bottom: 10px;
    }
    
    .list-times .label-time-meet{
        flex-basis: calc(33.33% - 10px);
    }
}

@media(max-width: 540px){
    .list-times .label-time-meet{
        flex-basis: calc(100%);
    }
}