.container{
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.container-1200{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

input::placeholder{
    color: #4f4f4f !important;
    opacity: 0.5 !important;
    font-weight: 600 !important;
}

select:disabled, input:read-only{
    cursor: not-allowed;
    background-color: #cecdcd !important;
    opacity: 1;
}

img{
    max-width: 100%;
    height: auto;
    height: unset;
    width: auto;
}

.error{
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    color: #ff0303;
    font-style: italic;
    opacity: 0.7;
}

.pagination li span {
    display: block;
    border: 1px solid #F5F5F5;
    border-radius: 4px !important;
    color: #132432;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    padding: 3px;
    min-width: 32px;
    height: 32px;
}

.not-found{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    color: #ff0303;
    min-height: 100px;
}

.swiper-empty-message {
    padding: 16px;
    color: #999;
    text-align: center;
}

#toast-container > div{
    opacity: 1 !important;
}

.claim {
    font-size: 12px;
    font-weight: 500;
    color: red;
    margin-left: 5px;
}