.container{
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.container-1200{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

input::placeholder{
    color: #4f4f4f !important;
    opacity: 0.5 !important;
    font-weight: 600 !important;
}

select:disabled{
    background-color: #cecdcd !important;
}

img{
    max-width: 100%;
    height: auto;
    height: unset;
    width: auto;
}